@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 210 17% 8%;
    --foreground: 225 10% 90%;
    --card: 210 13% 13%;
    --card-foreground: 225 10% 90%;
    --popover: 210 13% 13%;
    --popover-foreground: 225 10% 90%;
    --primary: 210 100% 79%;
    --primary-foreground: 203 100% 16%;
    --secondary: 26 100% 75%;
    --secondary-foreground: 29 100% 15%;
    --muted: 214 8% 21%;
    --muted-foreground: 225 10% 70%;
    --accent: 16 100% 66%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 13% 20%;
    --input: 210 13% 20%;
    --ring: 210 100% 79%;
    --radius: 1rem;
  }
  .dark {
    --background: 210 17% 8%;
    --foreground: 225 10% 90%;
    --card: 210 13% 13%;
    --card-foreground: 225 10% 90%;
    --popover: 210 13% 13%;
    --popover-foreground: 225 10% 90%;
    --primary: 210 100% 79%;
    --primary-foreground: 203 100% 16%;
    --secondary: 26 100% 75%;
    --secondary-foreground: 29 100% 15%;
    --muted: 214 8% 21%;
    --muted-foreground: 225 10% 70%;
    --accent: 16 100% 66%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 13% 20%;
    --input: 210 13% 20%;
    --ring: 210 100% 79%;
  }

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
